/*
 * App
 * Author: Xiao Xin <xin.xiao@hotmail.com>
 * Date: 09-23-17
 */

#title {
  margin-top: 25px;
  margin-bottom: 25px;
}

#frame {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
